Apigame/LuckySpinSanh/Connected Services/PortalCaptcha/captcha.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProxyCheckCaptcha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="captcha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProxyCheckCaptchaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProxyCheckCaptchaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProxyCheckCaptchaSoapIn">
    <wsdl:part name="parameters" element="tns:ProxyCheckCaptcha" />
  </wsdl:message>
  <wsdl:message name="ProxyCheckCaptchaSoapOut">
    <wsdl:part name="parameters" element="tns:ProxyCheckCaptchaResponse" />
  </wsdl:message>
  <wsdl:portType name="captchaSoap">
    <wsdl:operation name="ProxyCheckCaptcha">
      <wsdl:input message="tns:ProxyCheckCaptchaSoapIn" />
      <wsdl:output message="tns:ProxyCheckCaptchaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="captchaSoap" type="tns:captchaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProxyCheckCaptcha">
      <soap:operation soapAction="http://tempuri.org/ProxyCheckCaptcha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="captchaSoap12" type="tns:captchaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProxyCheckCaptcha">
      <soap12:operation soapAction="http://tempuri.org/ProxyCheckCaptcha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="captcha">
    <wsdl:port name="captchaSoap" binding="tns:captchaSoap">
      <soap:address location="http://localhost:2641/captcha.asmx" />
    </wsdl:port>
    <wsdl:port name="captchaSoap12" binding="tns:captchaSoap12">
      <soap12:address location="http://localhost:2641/captcha.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>